//- Pug file to create the side menu on the DLC website.
ol
    li
        a(href="index.html") Introduction
    li
        a(href="outline.html") Outline
    li
        a(href="requirements.html") Requirements
    li
        a(href="basics/basics.html") Basics

        ol
            li
                a(href="basics/electronics.html") Electronics
            li
                a(href="basics/transistors.html") Transistors
            li
                a(href="basics/logic_gates.html") Logic gates
