//- Provides the head of the page (with all the relevant references to stylesheets etc.)
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="author" content="Pieter-Jan Cassiman")
meta(name="description" content="My corner of the internet")
//- Page title
title DLC
//- The link to the favicon
link(rel="icon" type="image/png" href="https://pcassima.github.io/assets/img/favicon.png")
//- The link to the style sheet
link(rel="stylesheet" type="text/css" href="https://pcassima.github.io/assets/css/main.css")
//- The link to the main font
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono")
//- The link to the icon font (for the footer)
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
script(src="./js/nav.js")
