//- Provides a common navbar for all pages
.hamburger(onclick="myFunction()")
    .hamburger-bar
    .hamburger-bar
    .hamburger-bar
ul#nav-list.nav-list
    li
        a(href="https://pcassima.github.io/") Home
    li
        a(class="nav_active" href="https://pcassima.github.io/projects.html") Projects
    li
        a(href="#") Experiments
    li
        a(href="https://pcassima.github.io/about.html") About
    li
        a(href="https://pcassima.github.io/contact.html") Contact