<!DOCTYPE html>
html(lang="en")

    head
        include includes/head.pug

    body

        header
            include includes/header.pug

        nav
            include includes/nav.pug

        aside.left
            include includes/aside.pug

        main
            article
                section
                    h1 Outline

                    h2 Introduction
                    p
                        | The introduction to this project, which is also this page.
                        | This outlines what the project is about and what I wan to achieve with it.

                    h2 Requirements
                    p
                        | This section will outline the requirements for the projects.<br>
                        | There are not many requirements. Nevertheless I decided to list some requirements, and useful
                        | prerequisites.
                        br
                        a(href="requirements.html") Requirements

                    h2 Basics
                    p
                        | Before we can start with the actual computer we need to go over some basic concepts. These are not
                        | necessarily required, but still useful and interesting to know.
                        br
                        a(href="basics/basics.html") Basics

                    h3 Electronics
                    p
                        | Something about electronics
                        br
                        a(href="basics/electronics.html") Electronics

                    h3 Transistors
                    p
                        | Since our computer (like any other computer), on a fundamental level, is based around transistors we
                        | will quickly look into transistors.<br>
                        | We will look at the different types and the different ways of using them.
                        br
                        a(href="basics/basics.html") Transistors

                    h3 Logic gates

                    h3 Flip-flops
            div
                .bottom_navbar
                    .back
                        a(href="index.html") &#171; back
                .bottom_navbar
                    .next
                        a(href="requirements.html") next &#187;

        footer
            include includes/footer.pug
