:root {
    /* Global variables to be used throughout the style */
    --teal1: #20dce1;
    --teal2: #18a4af;
    --teal3: #16a5a9;
    --teal4: #1c5555;
    --pink1: #e11c84;
    --pink2: #a42064;
    --pink3: #700e41;
}

body {
    /* Global settings for the body */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-left: 24px;
}

/* Main styles */

h1 {
    color: var(--teal1);
    font-size: 48px;
    border-bottom: 4px solid;
}

h2 {
    color: var(--teal2);
    font-size: 32px;
    text-decoration: underline;
}

h3 {
    color: var(--teal4);
    font-size: 24px;
}

h4 {
    color: var(--pink2);
    font-size: 18px;
}

h5 {
    color: var(--pink3);
    font-size: 16px;
}

h6 {
    color: var(--pink3);
    font-size: 16px;
}

p {
    font-size: 16px;
}

em {
    color: var(--teal3);
}

b {
    color: var(--pink1);
}

mark {
    background-color: var(--teal1);
}

strong {
    color: var(--teal4);
    font-style: italic;
    font-weight: bold;
}

img {
    margin-left: 16px;
    margin-right: 16px;
}

iframe {
    display: block;
    margin: 0 auto;
}

ul a {
    color: var(--pink1);
    font-weight: bold;
    text-decoration: none;
}

nav {
    list-style-type: none;
    margin-left: -24px;
    padding: 0;
    overflow: hidden;
    display: block;
}

nav a {
    background-color: var(--teal2);
}

nav a:hover, nav .menu_active:hover {
    background-color: var(--pink3);
}

nav .main_menu {
    /* TODO: do something here to make the menu bar stretch across the screen. */
    background-color: var(--teal2);
}

nav .menu_active {
    background-color: var(--pink2);
}

nav .menu_active, nav a {
    display: block;
    text-align: center;
    padding: 8px 16px;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    float: left;
    width: 100px;
    font-size: 20px;
}

nav .dropdown_content {
    display: none;
}

nav .dropdown_content a {
    font-size: 20px;
    width: 100px;
    clear: both;
    background-color: var(--teal2);
}

nav .dropdown_content a:hover {
    background-color: var(--pink3);
}

nav .dropdown:hover .dropdown_content {
    display: block;
}

nav .dropdown {
    float: left;
    overflow: hidden;
    background-color: var(--teal2);
}

footer {
    margin-left: -24px;
    padding-top: 24px;
    clear: both;
}

footer canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}

footer .footer_column {
    float: left;
    width: 50%;
}

footer .footer_column p {
    margin-left: 24px;
    float: left;
    display: block;
    font-size: 12px;
    clear: both;
}

footer .badge {
    float: right;
    display: block;
    clear: both;
}

footer .social_bar {
    list-style-type: none;
    padding: 0;
    margin-left: 16px;
    overflow: hidden;
    display: block;
    clear: both;
}

.fab {
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    color: var(--pink1);
    font-weight: lighter;
}

.fab:hover {
    opacity: 0.7;
}