:root {
    /* Global variables to be used throughout the style */
    --teal1: #20dce1;
    --teal2: #18a4af;
    --teal3: #16a5a9;
    --teal4: #1c5555;
    --pink1: #e11c84;
    --pink2: #a42064;
    --pink3: #700e41;
}

body {
    /* Global settings for the body */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-left: 24px;
}

h1 {
    color: var(--teal1);
    font-size: 48px;
    border-bottom: 4px solid;
}

h2 {
    color: var(--teal2);
    font-size: 32px;
    text-decoration: underline;
}

h3 {
    color: var(--teal4);
    font-size: 24px;
}

h4 {
    color: var(--pink2);
    font-size: 18px;
}

h5 {
    color: var(--pink3);
    font-size: 16px;
}

h6 {
    color: var(--pink3);
    font-size: 16px;
}

p {
    font-size: 16px;
}

em {
    color: var(--teal3);
}

b {
    color: var(--pink1);
}

mark {
    background-color: var(--teal1);
}

strong {
    color: var(--teal4);
    font-style: italic;
    font-weight: bold;
}

img {
    margin-left: 16px;
    margin-right: 16px;
}

a {
    color: var(--pink1);
    font-weight: bold;
    text-decoration: none;
}

.video_container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    border: 2px solid var(--pink1);
}

.video_container p {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 32px;
}

.video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
}

nav {
    list-style-type: none;
    margin-left: -24px;
    padding: 0;
    overflow: hidden;
    display: block;
}

nav a {
    background-color: var(--teal2);
    font-weight: normal;
}

nav a:hover, nav .menu_active:hover {
    background-color: var(--pink3);
}

nav .main_menu {
    /* TODO: do something here to make the menu bar stretch across the screen. */
    background-color: var(--teal2);
}

nav .menu_active {
    background-color: var(--pink2);
}

nav .menu_active, nav a {
    display: block;
    text-align: center;
    padding: 8px 16px;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    float: left;
    width: 100px;
    font-size: 20px;
}

nav .dropdown_content {
    display: none;
}

nav .dropdown_content a {
    font-size: 20px;
    width: 100px;
    clear: both;
    background-color: var(--teal2);
}

nav .dropdown_content a:hover {
    background-color: var(--pink3);
}

nav .dropdown:hover .dropdown_content {
    display: block;
}

nav .dropdown {
    float: left;
    overflow: hidden;
    background-color: var(--teal2);
}

.page_body .sidebar {
    float: left;
    width: 14%;
    min-width: 128px;
    margin-left: -24px;
    margin-right: 24px;
    margin-top: 24px;
    display: block;
    overflow: hidden;
}

.page_body .sidebar ol {
    margin-left: -16px;
    list-style-type: decimal;
}

.page_body .sidebar ol li {
    padding: 1px;
}

.page_body .sidebar ol ol {
    margin-left: -1.5em;
    font-size: 0.85em;
    list-style-type: lower-latin;
}

.page_body .sidebar p {
    text-align: left;
    margin-left: 8px;
}

.page_body .main_page {
    float: left;
    width: 82%;
    margin: 0 auto;
    max-width: 1200px;
}

.page_body .main_page .bottom_navbar {
    width: 45%;
    float: left;
    margin: 1%;
    font-size: 18px;
}

.page_body .main_page .bottom_navbar .back {
    float: left;
    margin-left: 12%;
}

.page_body .main_page .bottom_navbar .next {
    float: right;
    margin-right: 12%;
}

footer {
    margin-left: -24px;
    padding-top: 24px;
    clear: both;
}

footer canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}

footer .footer_column {
    float: left;
    width: 50%;
}

footer .footer_column p {
    margin-left: 24px;
    float: left;
    display: block;
    font-size: 12px;
    clear: both;
}

footer .badge {
    float: right;
    display: block;
    clear: both;
    margin-right: 16px;
}

footer .social_bar {
    list-style-type: none;
    padding: 0;
    margin-left: 16px;
    overflow: hidden;
    display: block;
    clear: both;
}

.fab {
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    color: var(--pink1);
    font-weight: lighter;
}

.fab:hover {
    opacity: 0.7;
}